
@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;// "~/Views/Shared/_AdminLayout.cshtml";
}



<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Velvet - Bootstrap 5 Premium Admin &amp; Dashboard Template </title>
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="simple admin panel template html css,admin panel html,bootstrap 5 admin template,admin,bootstrap dashboard,bootstrap 5 admin panel template,html and css,admin panel,admin panel html template,simple html template,bootstrap admin template,admin dashboard,admin dashboard template,admin panel template,template dashboard">

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/brand-logos/fav.ico" type="image/x-icon">

    <!-- Main Theme Js -->
    <script src="../assets/js/authentication-main.js"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="../assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Style Css -->
    <link href="../assets/css/styles.min.css" rel="stylesheet" >

    <!-- Icons Css -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" >
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>

<body>
     

    <div class="page error-bg" id="particles-js">
        <!-- Start::error-page -->
        <div class="error-page  ">
            <div class="container">
                <!-- Start::row-1 -->
                <div class="row align-items-center justify-content-center authentication authentication-basic">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                        <div class="my-5 d-flex justify-content-center ">
                            <a href="index.html">
                                <img src="/x_assets/images/logo.png" alt="logo" class="desktop-logo">
                            </a>
                        </div>
                        <div class="card custom-card rectangle2 ">
                            <div class="card-body p-sm-5 p-3 rectangle3">
                                <p class="h5 fw-semibold mb-2 text-center">Change Password</p>
                                <p class="mb-4 text-muted op-7 fw-normal text-center">Hello !</p>
                                <div class="row gy-3">
                                    <div class="col-xl-12">
                                        <label for="pass" class="form-label text-default">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control form-control-lg" id="pass" placeholder="Password">
                                            <button aria-label="button" type="button" class="btn btn-light bg-transparent" onclick="createpassword('pass',this)"><i class="ri-eye-off-line align-middle text-muted"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mb-2">
                                        <label for="pass_c" class="form-label text-default">Confirm Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control form-control-lg" id="pass_c" placeholder="Password">
                                            <button aria-label="button" type="button" class="btn btn-light bg-transparent" onclick="createpassword('pass_c',this)"><i class="ri-eye-off-line align-middle text-muted"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 d-grid mt-4">
                                        <input aria-label="button" id="btnForgot" type="button" onclick="ChangePassword()" class="btn btn-primary btn-lg" value="Save Password" />
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="fs-12 text-muted mt-3 mb-0">Back to login ? <a href="/account" class="text-primary">Click Here</a></p>
                                </div>
                                <div class="text-center">
                                    <p class="fs-12 text-muted mt-3 mb-0">
                                        <div class="text-success" id="msg"></div> <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->
            </div>
        </div>
        <!-- End::error-page -->

    </div>



    <script type="text/javascript" src="/assets/scripts/main.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script src="~/jquery-3.6.0.min.js"></script>
    <!-- Custom-Switcher JS -->
    <script src="../assets/js/custom-switcher.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Show Password JS -->
    <script src="../assets/js/show-password.js"></script>

</body>

</html>


<style>
    .hidden {
        display: none;
    }
</style>@*
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-add-user icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Change Password
                    <div class="page-title-subheading">
                        Enter your new password.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 hidden" id="error">
        <div class="alert alert-warning fade show" role="alert">
            <h5>Error!</h5>
            <p class="mb-0" id="msg"></p>
        </div>
    </div>
    <div class="main-card mb-2 card">
        <div class="card-body">
            <h5 class="card-title">NEW PASSWORD</h5>
            <div class="">

                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group"><label for="login_name" class="">New Password</label><input name="login_name" placeholder="enter the new password" id="pass" type="password" class="form-control"></div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group"><label for="code_name" class="">Confirm Password</label><input name="code_name" placeholder="confirm new password" id="pass_c" type="password" class="form-control"></div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">@*<a href="/account/register">Register</a></div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">@*<a href="/account/">Login</a></div>
                    </div>

                </div>
                <span id=" error" class="text-danger pull-right"></span>
                <a id="btnForgot" href="javascript:ChangePassword();" class="mt-2 btn btn-primary pull-right">Change</a>
                <button type="button" id="processor" class="btn-open-options btn btn-warning pull-right hidden">
                    <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
</div>
*@




