@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_SmartAdminLayout.cshtml";
}

<!-- BEGIN Page Content -->
<!-- the #js-page-content id is needed for some plugins to initialize -->
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Brigho Admin</a></li>
        <li class="breadcrumb-item">Transactions</li>
        <li class="breadcrumb-item active">In Progress</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-chart-area'></i> Transactions <span class='fw-300'>In-Progress</span>
        </h1>
         
    </div>
     
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Active <span class="fw-300"><i>Transactions</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <!-- datatable start -->
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th>Transaction.Number</th>
                                    <th>Description</th>
                                    <th>Transaction.Date</th>
                                    <th>Buyer.Payment.Date</th>
                                    <th>Seller.Bank</th>
                                    <th>Buyer.Bank</th>
                                    <th>Temporary.Status</th>
                                    <th>Final.Status</th>
                                    <th>Pay.To</th>
                                    <th>Brigho.Payment.Date</th>
                                    <th>Processed.By</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tcbody">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Transaction.Number</th>
                                    <th>Description</th>
                                    <th>Transaction.Date</th>
                                    <th>Buyer.Payment.Date</th>
                                    <th>Seller.Bank</th>
                                    <th>Buyer.Bank</th>
                                    <th>Temporary.Status</th>
                                    <th>Final.Status</th>
                                    <th>Pay.To</th>
                                    <th>Brigho.Payment.Date</th>
                                    <th>Processed.By</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {

    <!-- base vendor bundle:
         DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
                    + pace.js (recommended)
                    + jquery.js (core)
                    + jquery-ui-cust.js (core)
                    + popper.js (core)
                    + bootstrap.js (core)
                    + slimscroll.js (extension)
                    + app.navigation.js (core)
                    + ba-throttle-debounce.js (core)
                    + waves.js (extension)
                    + smartpanels.js (extension)
                    + src/../jquery-snippets.js (core) -->
    <script src="/smartadmin/js/vendors.bundle.js"></script>
    <script src="/smartadmin/js/app.bundle.js"></script>
    <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
    <script src="/smartadmin/js/datagrid/datatables/datatables.bundle.js"></script>
    <script>
        $("#intel").removeClass('active open')
        $("#main-trans").addClass('active open')

        $("#md").removeClass('active')
        $("#in-prog").addClass('active')
        $(document).ready(function () {
            // initialize datatable
            $('#dt-basic-example').DataTable(
                {
                    ajax: {
                        url: "/Home/GetInProgrssTransaction",
                        type: "GET",
                        dataSrc: ''
                    },
                    responsive: true,
                    processing: true,
                    filter: true,
                    columns: [
                        {
                            data: "transactionCode",
                            render: function (data, type, row) {

                                var rows = "";

                                rows += "                <a href='#' class='' data-toggle='modal' data-target='.default-example-modal-left-smt-" + row["id"] + "'>" + row['transactionCode'] + "</a>"
                                rows += "               <div class='modal fade default-example-modal-left-smt-" + row["id"] + "' tabindex='-1' role='dialog' aria-hidden='true'>"
                                rows += "                              <div class='modal-dialog modal-dialog-left modal-sm'>"
                                rows += "                <div class='modal-content'>"
                                rows += "   <div class='modal-header'>"
                                rows += "                                               <h5 class='modal-title h4'>Cost Breakdown for: " + row['transactionCode'] + "</h5>"
                                rows += "                                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>"
                                rows += "                                        <span aria-hidden='true'><i class='fal fa-times'></i></span>"
                                rows += "                                    </button>"
                                rows += "                               </div>"
                                rows += "                                    <div class='modal-body'>"
                                rows += "                                           <table>"
                                rows += "                                                        <tr><td>seller Mobile Number: " + row['sellerMobileNumber'] + "</td><tr>"
                                rows += "                                                        <tr><td>buyer Mobile Number: " + row['buyerMobileNumber'] + "</td><tr>"
                                rows += "                                                        <tr><td>Agreed Price: " + formatMoney(parseFloat(row['agreedPrice'])) + "</td><tr>"
                                rows += "                                                        <tr><td>Shipping Cost: " + formatMoney(parseFloat(row['shippingCost'])) + "</td><tr>"
                                rows += "                                                        <tr><td>Commision: " + formatMoney(parseFloat(row['ahhtCommission'])) + "</td><tr>"
                                rows += "                                                        <tr><td>Total Cost: " + formatMoney(parseFloat(row['totalCost'])) + "</td><tr>"
                                rows += "                                              </table>"
                                rows += "                                          </div>"
                                rows += "                                          <div class='modal-footer'>"
                                rows += "                                              <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>"
                                rows += "                                              <button type='button' class='btn btn-primary'>Save changes</button>"
                                rows += "                                          </div>"
                                rows += "                                      </div>"
                                rows += "                                  </div>"
                                rows += "                              </div>"

                                return rows;
                            }
                        },
                        {
                            data: "transactionDescription"
                        },
                        { data: "transactionDate", name: "Transaction.Date" },
                        { data: "paymentDate", name: "Buyer.Payment.Date" },
                        {
                            data: "sellerAccountName",
                            render: function (data, type, row) {
                                var rows = "";

                                rows += "                <a href='#' class='' data-toggle='modal' data-target='.default-example-modal-left-sms-" + row["id"] + "'>View</a>"
                                rows += "               <div class='modal fade default-example-modal-left-sms-" + row["id"] + "' tabindex='-1' role='dialog' aria-hidden='true'>"
                                rows += "                              <div class='modal-dialog modal-dialog-left modal-sm'>"
                                rows += "                <div class='modal-content'>"
                                rows += "   <div class='modal-header'>"
                                rows += "                                               <h5 class='modal-title h4'>Account Info for: " + row['sellerAccountName'] + "</h5>"
                                rows += "                                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>"
                                rows += "                                        <span aria-hidden='true'><i class='fal fa-times'></i></span>"
                                rows += "                                    </button>"
                                rows += "                               </div>"
                                rows += "                                    <div class='modal-body'>"
                                rows += "                                           <table>"
                                rows += "                                                        <tr><td>Bank Name:" + row['sellerBankName'] + "</td><tr>"
                                rows += "                                                        <tr><td>Account Name:" + row['sellerAccountName'] + "</td><tr>"
                                rows += "                                                        <tr><td>Account number:" + row['sellerAccountNumber'] + "</td><tr>"
                                rows += "                                              </table>"
                                rows += "                                          </div>"
                                rows += "                                          <div class='modal-footer'>"
                                rows += "                                              <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>"
                                rows += "                                              <button type='button' class='btn btn-primary'>Save changes</button>"
                                rows += "                                          </div>"
                                rows += "                                      </div>"
                                rows += "                                  </div>"
                                rows += "                              </div>"

                                return rows;
                            }
                        },
                        {
                            data: "buyerAccountName",
                            render: function (data, type, row) {
                                var rows = "";


                                rows += "                <a href='#' class='' data-toggle='modal' data-target='.default-example-modal-left-smb-" + row["id"] + "'>View</a>"
                                rows += "               <div class='modal fade default-example-modal-left-smb-" + row["id"] + "' tabindex='-1' role='dialog' aria-hidden='true'>"
                                rows += "                              <div class='modal-dialog modal-dialog-left modal-sm'>"
                                rows += "                <div class='modal-content'>"
                                rows += "   <div class='modal-header'>"
                                rows += "                                               <h5 class='modal-title h4'>Account Info for: " + row['buyerAccountName'] + "</h5>"
                                rows += "                                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>"
                                rows += "                                        <span aria-hidden='true'><i class='fal fa-times'></i></span>"
                                rows += "                                    </button>"
                                rows += "                               </div>"
                                rows += "                                    <div class='modal-body'>"
                                rows += "                                           <table>"
                                rows += "                                                        <tr><td>Bank Name:" + row['buyerBankName'] + "</td><tr>"
                                rows += "                                                        <tr><td>Account Name:" + row['buyerAccountName'] + "</td><tr>"
                                rows += "                                                        <tr><td>Account number:" + row['buyerAccountNumber'] + "</td><tr>"
                                rows += "                                              </table>"
                                rows += "                                          </div>"
                                rows += "                                          <div class='modal-footer'>"
                                rows += "                                              <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>"
                                rows += "                                              <button type='button' class='btn btn-primary'>Save changes</button>"
                                rows += "                                          </div>"
                                rows += "                                      </div>"
                                rows += "                                  </div>"
                                rows += "                              </div>"

                                return rows;
                            }
                        },
                        { data: "transactionStatus", name: "Temporary.Status" },
                        {
                            data: "processed",
                            render: function (data, type, row) {
                                var htm = "";
                                if (row["processed"] == true) {

                                    if (row["reasons"].includes('Buyer declined the transaction')) {
                                        htm += "<td class='text-center'>Transaction declined</td>"
                                    } else {
                                        if (row["reasons"].includes('returned')) {
                                            htm += "<td class='text-center'>Item returned (Seller & Buyer paid)</td>"
                                        } else {
                                            if (row["reasons"].startsWith("Completed")) {
                                                htm += "<td class='text-center'>Item collected (Seller paid)</td>"
                                            }
                                        }
                                    }
                                } else {
                                    htm += "<td class='text-center'> - </td>"
                                }
                                return htm;
                            }
                        },
                        {
                            data: "reasons",
                            render: function (data, type, row) {
                                var htm = "";
                                if (row["reasons"].startsWith("Completed")) {

                                    var cost = row["agreedPrice"];
                                    var ship = parseInt(row["shippingCost"]);

                                    var total = parseInt(cost) + parseInt(ship);
                                    var _total = formatMoney(parseFloat(total));

                                    htm += "<td class='text-center'>"
                                    htm += "     Seller: &#8358;" + _total;
                                    htm += "</td>"
                                } else {
                                    if (row["reasons"].startsWith("Declined") && row["paid"] == true) {

                                        var cost = row["totalCost"];
                                        var commission = row["ahhtCommission"];

                                        var ship = parseInt((0.5 * row["shippingCost"])) + parseInt(row["shippingCost"]);
                                        var _ship = formatMoney(parseFloat(ship));

                                        var total = parseInt(cost) - parseInt(commission) - parseInt(ship);
                                        var _total = formatMoney(parseFloat(total));

                                        htm += "<td class='text-center'>"
                                        htm += "    Buyer: &#8358;" + _total + " <br/> Seller: " + _ship
                                        htm += "</td>"
                                    } else {
                                        if (row["reasons"].startsWith("Pending") && (row["paid"] == false || row["paid"] == true)) {
                                            htm += "<td class='text-center'>"
                                            htm += " - "
                                            htm += "</td>"
                                        } else {
                                            if (row["reasons"].includes("declined") && row["paid"] == false) {
                                                htm += "<td class='text-center'>"
                                                htm += " - "
                                                htm += "</td>"
                                            }
                                        }
                                    }
                                }
                                return htm;
                            }
                        },
                        {
                            data: "refundDate",
                            render: function (data, type, row) {

                                var htm = '';
                                if (row["refundDate"] == null)
                                    htm = ": No Payment Initiated";
                                else
                                    htm = ": " + row["refundDate"];
                                return htm;
                            }
                        },
                        {
                            data: "processedBy",
                            render: function (data, type, row) {

                                var htm = '';
                                var procby = row["processedBy"] == null ? "-" : row["processedBy"]
                                htm += " " + procby + " "
                                return htm;
                            }
                        },
                        {
                            data: 'reasons',
                            render: function (data, type, row) {
                                var htm = "";
                                if (row["reasons"].startsWith("Pending") && row["processed"] == false && row["paid"] == false && AddDate(row["transactionDate"], "1", "M") == true) {
                                    htm += "<td class='text-center'><button onclick='javascript:Delete(" + row["id"] + ");' class='btn-sm btn btn-danger'>delete</button></td>"
                                }
                                else {
                                    if (row["reasons"].startsWith("Pending")) {
                                        htm += "<td class='text-center'> No Action </td>"
                                    } else {
                                        if (row["processed"] == true) {
                                            if (row["completed"] == false) {
                                                htm += "<td class='text-center'><button onclick='javascript:Completed(" + row["id"] + ");' class='btn-sm btn btn-success'>complete</button></td>"
                                            }
                                        } else {
                                            htm += "<td class='text-center'><button onclick='javascript:Processed(" + row["id"] + ");' class='btn-sm btn btn-warning'>process</button></td>"
                                        }
                                    }
                                }
                                return htm;
                            }
                        },
                    ]

                }
            );

            /*window.onresize = function() {
                table.responsive.rebuild();
                table.responsive.recalc();
            }*/

        });
    </script>
}